<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-demanda-fisica-heading" data-cy="DemandaFisicaCreateUpdateHeading">Create or edit a Demanda Fisica</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_curso">Curso</label>
          <input type="text" class="form-control" name="curso" id="field_curso" data-cy="curso" formControlName="curso" />
        </div>

        <div class="form-group">
          <label for="field_enderecos">Endereco</label>
          <select class="form-control" id="field_enderecos" data-cy="endereco" multiple name="enderecos" formControlName="enderecos">
            <option
              [ngValue]="getSelectedEndereco(enderecoOption, editForm.get('enderecos')!.value)"
              *ngFor="let enderecoOption of enderecosSharedCollection; trackBy: trackEnderecoById"
            >
              {{ enderecoOption.cep }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
